<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: aliceblue;">Restaurant</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<ul class="nav justify-content-end" >
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Restaurant App</a>
    </li>
</ul>


<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body" style="background-color: rgb(41, 38, 38); color: aliceblue; padding: 100px;">
        <h5 class="card-title" class="text-warning">NOW ACCEPTING INQUIRIES FOR PRIVATE EVENTS & HOLIDAY PARTIES!</h5>

        <p class="card-text">We are now accepting all inquiries for full buyouts for private events and holiday parties, any day of the week, day or night. Our restaurant can accommodate up to 45 guests and potentially more. We can work with you on the menu, and curate beverages, beer, wine, and sake as well. Please contact us here to inquire!</p>
        <a href="https://www.zomato.com/" class="btn  btn-outline-info">Check out Zomato </a>
    </div>
    <div class="card-footer text-muted">
        3 days ago
    </div>

    <div class="card-body" style="background-color: rgb(41, 38, 38); color: aliceblue; padding: 100px;">
        
        
        <h5 class="card-title" class="text-warning">DINNER RESERVATIONS! </h5>
        
        <p class="card-text">We are now open for dinner service Friday through Sunday! We’ll be accepting limited walk-ins and reservations on Yelp. <br>

            For brunch, we still do not take reservations as we seat guests on a first come first serve basis. However, you can join our Yelp! Waitlist to save your spot ahead of time (same day only)!</p>
        <a href="https://www.zomato.com/" class="btn  btn-outline-info">Order Online </a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>

    <div class="card-body" style="background-color: rgb(41, 38, 38); color: aliceblue;padding: 100px;">
        <h5 class="card-title" class="text-success">BUSINESS HOURS</h5>
        
        <p class="card-text">BRUNCH: Thursday through Monday 9:00am - 2:30pm <br>

            DINNER: Thursday through Sunday 5:00pm - 9:00pm<br>
            
            CLOSED Tuesdays & Wednesdays <br>
            
            Dine-in, takeout, and delivery available</p>
       
    </div>
    <div class="card-footer text-muted">
        1 day ago
    </div>
</div>


<div class="card text-bg-dark">
    <img src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1619135748199-I56FXBEVWXC1QXGK17BZ/Apr+11+2021DSC07442.jpg?format=2500w" class="card-img" style="opacity: calc(0.3);" alt="resto pic">
    <div class="card-img-overlay">
        <h5 class="card-title"  class="text-dark" style="text-align: center; padding-top: 100px;">Breakfast Plate [gf]</h5>
        <p class="card-text"  class="text-info "style="text-align: center; ">Two farm fresh eggs, house made hash browns, seasonal Farmers Market greens,<br> choice of protein, and house made scallion ranch sauce<br>
            This content is a little bit longer.</p>
        <p class="card-text"  class="text-warning" style="text-align: center; "><small>PROTEIN CHOICES: <br>
            Braised Meiji tofu [v]<br>
            Pasturebird chicken thigh<br>
            Mushroom medley [v]<br>
            Grass-fed hanger steak<br>
            Dry-aged barramundi<br>
            Dry-aged steelhead *marinated in yuzu miso!*<br>
            + P&B pork sausage / P&B bacon / avocado / Bub's sesame toast</small></p>
    </div>
</div>


<hr>

<div class="card-group">
    <div class="card">
        <img src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1566963493871-ETXLCH49FLZUB3A0Y1QT/yangskitchen_01.png?format=1000w" style="width: 90%;" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Yang’s Kitchen strives to source local, sustainable and organic when possible. We work hard to source premium ingredients and we cook everything from scratch with love. We also do our best to pay our employees living wages (tips are shared with all employees, including kitchen staff) and to reduce our environmental footprint wherever we can. Overall, these factors translate to higher menu prices, but we hope that you find value and feel a sense of comfort in knowing that we aim to get better everyday at doing what is important to us.</p>
        </div>
        
    </div>
    <div class="card">
        <img src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1566964014153-2JAH31CL236V51TSY4SW/yangskitchen_02.png?format=750w" class="card-img-top" style="width:95%; height:80%"alt="...">
        <div class="card-body">
            <h5 class="card-title">WE ARE A PROUD MEMBER OF ZERO FOODPRINT </h5>
            <p class="card-text">A 1% ZFP Restore the Planet fee is added to your bill to help restore the planet and combat climate change. You can opt out of this fee if you’d like - just let us know when you place your order.</p>
        </div>
        
    </div>
    
</div>


            <div class="card-group" style="margin-bottom: -200px;">
                <div class="card" style="height:50%">
                    <img src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1566969629497-O0TBF6EOQ7TEJI3B1857/yangskitchen_gallery-01.png?format=500w" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card" style="height:50%">
                    <img src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1566969844624-8JWNJQZEYC7AD8RIMDY7/yangskitchen_gallery-03.png?format=500w" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card" style="height:50%">
                    <img src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1566969701220-EL03IRBN1SJ9NLSMVA0B/yangskitchen_gallery-02.png?format=300w" class="card-img-top" style="height:40%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>

            <!-- Columns are always 50% wide, on mobile and desktop -->
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <img src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1661324812105-9GLNEV8955UJC61RA87C/image-asset.jpeg?format=2500w" style="padding-left: 50px;"class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="padding-left: 50px;">Card title</h5>
                            <p class="card-text" style="padding-left: 50px;">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text" style="padding-left: 50px;"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    
                </div>
            </div>
     

                <section id="footer">
                    <div class="container">
                        <div class="row text-center text-xs-center text-sm-left text-md-left">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <h5> Check Out </h5>
                                <ul class="list-unstyled quick-links">
                                    <li style="color: aliceblue;">   Home  </li>
                                    <li style="color: aliceblue;"> About us</li>
                                    <li style="color: aliceblue;"> Contact </li>
                                    <li style="color: aliceblue;">  Services </li>
                                    
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <h5> Quick links </h5>
                                <ul class="list-unstyled quick-links">
                                    <li> <a href="http://localhost:4200/restaurant"> <i class="fa fa-angle-double-right"> </i> Home </a> </li>
                                    <li> <a href="http://localhost:4200/restaurant"> <i class="fa fa-angle-double-right"> </i> About </a> </li>
                                    <li> <a href="http://localhost:4200/learn"> <i class="fa fa-angle-double-right"> </i> FAQ </a> </li>
                                    <li> <a href="#"> <i class="fa fa-angle-double-right"> </i> Our Services </a> </li>
                                    <li> <a href="#"> <i class="fa fa-angle-double-right"> </i> Expert Team </a> </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <h5> Quick links </h5>
                                <ul class="list-unstyled quick-links">
                                    <li> <a href="#"> <i class="fa fa-angle-double-right"> </i> Home </a> </li>
                                    <li> <a href="#"> <i class="fa fa-angle-double-right"> </i> About </a></li>
                                    <li> <a href="#"> <i class="fa fa-angle-double-right"> </i> FAQ </a> </li>
                                    <li> <a href="#"> <i class="fa fa-angle-double-right"> </i> Get Started </a> </li>
                                    <li> <a href="#"> <i class="fa fa-angle-double-right"> </i> Contact </a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                                <ul class="list-unstyled list-inline social text-center">
                                    <li class="list-inline-item"> <a href="#"> <i class="fa fa-facebook"> </i> </a>
                                    </li>
                                    <li class="list-inline-item"> <a href="#"> <i class="fa fa-twitter"> </i> </a> </li>
                                    <li class="list-inline-item"> <a href="#"> <i class="fa fa-instagram"> </i> </a>
                                    </li>
                                    <li class="list-inline-item"> <a href="#"> <i class="fa fa-google-plus"> </i> </a>
                                    </li>
                                    <li class="list-inline-item"> <a href="#"> <i class="fa fa-envelope"> </i> </a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                                <p class="h6"> © All right Reserved. <a class="text-green ml-2" href="#"
                                        target="_blank">
                                         </a> </p>
                            </div>
                            <hr>
                        </div>
                    </div>
                </section>